@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

*,
*:focus,
*:hover {
  outline: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Alata", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: #8c8c8c;
}

a {
  text-decoration: none;
  color: white;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100vh;
  padding: 2rem 1.5rem;
  z-index: 1;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./images/mobile/image-hero.jpg");
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}

.navtop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo {
  color: white;
}

.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 1rem;
  width: auto;
}
.hamburger:hover {
  cursor: pointer;
}

.line {
  background-color: white;
  height: 0.16rem;
  width: 1.7rem;
}

.desktop-menu {
  display: none;
}

.slogan-box {
  margin-top: 8rem;
  border: 0.1rem solid white;
  padding: 3rem;
}

.slogan-text {
  color: white;
  font-family: "Josefin Sans", sans-serif;
  font-size: 4.5rem;
}

.hamburger-menu {
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  padding: 2rem 1.5rem;
  z-index: 30;
  background-color: black;
  animation: fadein 0.5s ease;
}
.hamburger-menu ul li {
  list-style: none;
  font-family: "Josefin Sans", sans-serif;
}

@keyframes fadein {
  0% {
    margin-left: 100vw;
  }
  100% {
    margin-left: 0px;
  }
}
@keyframes faderight {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: 100vw;
  }
}
.hamburger-logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.hamburger-nav {
  margin-top: 10rem;
}
.hamburger-nav li {
  text-transform: uppercase;
  font-size: 1.6rem;
}
.hamburger-nav li:not(:last-child) {
  margin-bottom: 1.5rem;
}

.close-btn {
  padding-right: 25px;
  width: 30px;
  height: 30px;
  color: white;
}
.close-btn:hover {
  cursor: pointer;
}

.hide {
  display: none;
}

.fade-right {
  animation: faderight 0.5s ease;
}

.presentation {
  background-color: white;
  height: 90vh;
  margin-top: 5rem;
  padding: 0 3rem;
  text-align: center;
}
.presentation .desktop-presentation-img {
  display: none;
}
.presentation img {
  width: 100%;
}
.presentation .description {
  margin: 2rem;
}
.presentation .description .description-title {
  padding-bottom: 1.5rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 9vw;
  color: black;
  text-transform: uppercase;
}
.presentation .description .description-details {
  line-height: 2.5rem;
  color: dimgray;
  font-size: 1.6rem;
}

.creations {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  text-align: center;
  padding: 2rem;
}
.creations .desktop-btn {
  display: none;
}
.creations .creations-title {
  padding-bottom: 1.5rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 9vw;
  color: black;
  text-transform: uppercase;
}
.creations .creation-card {
  display: flex;
  align-items: center;
  background-size: cover;
  width: 100%;
  height: 15vh;
  color: white;
  font-family: "Josefin Sans", sans-serif;
  font-size: 2rem;
  margin-top: 2rem;
}
.creations .creation-card p {
  margin-left: 2rem;
}
.creations .earth {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./images/mobile/image-deep-earth.jpg");
}
.creations .arcade {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./images/mobile/image-night-arcade.jpg");
}
.creations .soccer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./images/mobile/image-soccer-team.jpg);
}
.creations .grid {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./images/mobile/image-grid.jpg);
}
.creations .up-above {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./images/mobile/image-from-above.jpg);
}
.creations .pocket-borealis {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./images/mobile/image-pocket-borealis.jpg);
}
.creations .curiosity {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./images/mobile/image-curiosity.jpg);
}
.creations .fisheye {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./images/mobile/image-fisheye.jpg);
}
.creations .mobile-btn {
  height: 3rem;
  width: 9rem;
  font-family: "Josefin Sans", sans-serif;
  background-color: white;
  color: black;
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 0.2rem;
  border: 0.1rem solid black;
  margin-top: 2rem;
}

footer {
  font-size: 2rem;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  padding: 3rem 2rem 4rem 2rem;
  margin-top: 5rem;
}
footer li {
  list-style-type: none;
}
footer .left-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .nav-footer {
  line-height: 6rem;
  margin: 3rem 0 5rem 0;
}
footer .right-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .right-footer .social-media {
  width: 50vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 3rem;
}
footer .right-footer .copyright {
  color: dimgray;
}

/*------------------------------------------------------------VERSION DESKTOP*------------------------------------------------------------------*/
@media only screen and (min-width: 775px) {
  .header {
    height: 100vh;
    padding: 3rem 6.5rem;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./images/desktop/image-hero.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
  }
  .header .logo {
    font-size: 5rem;
  }
  .header .hamburger {
    display: none;
  }
  .header .desktop-menu {
    display: flex;
    justify-content: space-between;
    width: auto;
    font-family: "Alata", sans-serif;
    font-size: 2rem;
    list-style: none;
    padding-right: 4rem;
  }
  .header .desktop-menu li {
    margin: 0 1rem 0 1rem;
  }
  .header .desktop-menu .linknav {
    position: relative;
    display: block;
  }
  .header .desktop-menu .linknav:active::before {
    content: "pouet";
    display: flex;
    justify-content: center;
    width: 100%;
    height: 3px;
    background-color: white;
    position: absolute;
    bottom: -10px;
  }
  .header .slogan-box {
    margin-top: 20rem;
    width: 50%;
    height: auto;
  }
  .header .slogan-box .slogan-text {
    font-size: 5vw;
  }

  .presentation {
    position: relative;
    display: flex;
    justify-content: center;
    height: 90vh;
    width: 600px;
    margin: 10rem 6.5rem;
    padding-left: 20vw;
  }
  .presentation .mobile-presentation-img {
    display: none;
  }
  .presentation .desktop-presentation-img {
    display: block;
    width: 731px;
    height: 500px;
  }
  .presentation .description {
    position: absolute;
    background-color: white;
    padding: 90px;
    width: 400px;
    height: 450px;
    left: 450px;
    top: 150px;
    margin-left: 20vw;
  }
  .presentation .description .description-title {
    font-size: 4rem;
  }

  .creations {
    margin: 10rem 6.5rem;
    padding-left: 10vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 70vw;
    height: auto;
  }
  .creations .mobile-btn {
    display: none;
  }
  .creations .creations-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 3rem 0;
    margin-bottom: 2rem;
    justify-content: space-between;
  }
  .creations .creations-header .desktop-btn {
    display: block;
    height: 4rem;
    width: 13rem;
    font-family: "Alata", sans-serif;
    background-color: white;
    color: black;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 1.4rem;
    border: 0.5mm ridge black;
  }
  .creations .creations-header .desktop-btn:hover {
    cursor: pointer;
  }
  .creations .creations-header .desktop-btn:active {
    background-color: black;
    color: white;
  }
  .creations .creations-header .creations-title {
    font-size: 5rem;
    font-weight: bold;
  }
  .creations .creation-card {
    width: 15vw;
    height: 30vh;
    font-size: 32px;
    padding: 22rem 0 0 1rem;
  }
  .creations .creation-card p {
    font-size: 2vw;
  }
  .creations .earth {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./images/desktop/image-deep-earth.jpg");
  }
  .creations .arcade {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./images/desktop/image-night-arcade.jpg");
  }
  .creations .soccer {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./images/desktop/image-soccer-team.jpg");
  }
  .creations .grid {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./images/desktop/image-grid.jpg");
  }
  .creations .up-above {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./images/desktop/image-from-above.jpg");
  }
  .creations .pocket-borealis {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./images/desktop/image-pocket-borealis.jpg");
  }
  .creations .curiosity {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./images/desktop/image-curiosity.jpg");
  }
  .creations .fisheye {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./images/desktop/image-fisheye.jpg");
  }
}

/*# sourceMappingURL=style.css.map */
