@import "./scss/index.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
*,
*:focus,
*:hover {
  outline: none;
}
html {
    font-size: 62.5%;    
}
body {
    font-family: $font-alata;
    font-weight: $font-normal;
    font-size: 1.6rem;
    color: $DarkGray;
}
a {
    text-decoration: none;
    color: $White;
}
.header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100vh;
    padding: 2rem 1.5rem;
    z-index: 1;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./images/mobile/image-hero.jpg");
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}
.navtop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.logo {
    color: $White;
}
.hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 1rem;
    width: auto;
    &:hover {
        cursor: pointer;
    }
}
.line {
    background-color: $White;
    height: 0.16rem;
    width: 1.7rem;
}
.desktop-menu {
    display: none;
}
.slogan-box {
    margin-top: 8rem;
    border: 0.1rem solid $White;
    padding: 1rem;
    
}
.slogan-text {
    color: $White;
    font-family: $font-josefin-sans;
    font-size: 4.5rem;
}
.hamburger-menu {
	position: absolute;
	top: 0px;
	left: 0px;
	display: flex;
	flex-direction: column;
	height: 100vh;
	width: 100vw;
	padding: 2rem 1.5rem;
	z-index: 30;
	background-color: $Black;
	animation: fadein 0.5s ease;
	ul {
		li {
			list-style: none;
			font-family: $font-josefin-sans;
		}
	}
}
@keyframes fadein {
    0% {
      margin-left: 100vw;
    }
    100% {
      margin-left: 0px;
    }
}
@keyframes faderight {
    0% {
      margin-left: 0;
    }
    100% {
      margin-left: 100vw;
    }
}
.hamburger-logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.hamburger-nav {
	margin-top: 10rem;
	li {
		text-transform: uppercase;
		font-size: 1.6rem;
		&:not(:last-child) {
			margin-bottom: 1.5rem;
		}
	}
}
.close-btn {
    padding-right: 25px;
    width: 30px;
    height: 30px;
    color: $White;
    &:hover {
        cursor: pointer;
    }
}
.hide {
    display: none;
}

.fade-right {
    animation: faderight 0.5s ease;
}
.presentation{
    background-color: $White;
    height: 90vh;
    margin-top: 5rem;
    padding: 0 3rem;
    text-align: center;
    .desktop-presentation-img{
        display: none;
    }
    img{
        width: 100%;       
    }    
    .description{
        margin: 2rem;
        .description-title{
            @include titles-h2;
        }
        .description-details{
            line-height: 2.5rem;
            color: $VeryDarkGray;
            font-size: 1.6rem;
        }
    }
}
.creations{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    text-align: center;
    padding: 2rem;
    .desktop-btn {
        display: none;
      }
    .creations-title{
        @include titles-h2;
    }
    .creation-card{
        display: flex;
        align-items: center;
        background-size: cover;
        width: 100%;
        height: 15vh;
        color: $White;
        font-family: $font-josefin-sans;
        font-size: 2rem;
        margin-top: 2rem;
        p{
            margin-left: 2rem;
        }
    }
    .earth {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("./images/mobile/image-deep-earth.jpg");        
    }
    .arcade {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("./images/mobile/image-night-arcade.jpg");
    }
    .soccer {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(./images/mobile/image-soccer-team.jpg);
    }
    .grid {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(./images/mobile/image-grid.jpg);
    }
    .up-above {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(./images/mobile/image-from-above.jpg);
    }
    .pocket-borealis {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(./images/mobile/image-pocket-borealis.jpg);
    }
    .curiosity {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(./images/mobile/image-curiosity.jpg);
    }
    .fisheye {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(./images/mobile/image-fisheye.jpg);
    }
    .mobile-btn {
        height: 3rem;
        width: 9rem;
        font-family: $font-josefin-sans;
        background-color: $White;
        color: $Black;
        font-size: 1.2rem;
        font-weight: bold;
        letter-spacing: 0.2rem;
        border: 0.1rem solid $Black;
        margin-top: 2rem;
    }
}
footer {
    font-size: 2rem;
    color: $White;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $Black;
    padding: 3rem 2rem 4rem 2rem;
    margin-top: 5rem;
    li{list-style-type: none;}
    .left-footer{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .nav-footer{
        line-height: 6rem;
        margin: 3rem 0 5rem 0;
    }
    .right-footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        .social-media{
            width: 50vw;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            margin-bottom: 3rem;
        }
        .copyright {color: $VeryDarkGray;}
    }
}

/*------------------------------------------------------------VERSION DESKTOP*------------------------------------------------------------------*/

@media only screen and (min-width: $Mobile){
    body{
        display: none;
    }
}