@mixin titles-h2 {
    padding-bottom: 1.5rem;
            font-family: $font-josefin-sans;
            font-weight: $font-normal;
            font-size: 9vw;
            color: $Black;
            text-transform: uppercase;
};