@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");
$font-alata: "Alata", sans-serif;
$font-normal: 400;
$font-josefin-sans: "Josefin Sans", sans-serif;
$font-light: 300;